{
    env: {
        es6: true,
        node: true,
        browser: true,
        amd: true,
        mocha: true,
        jquery: true
    },
    extends: "eslint:recommended",
    parserOptions: {
        emcaVersion: 6,
        sourceType: "script",
        emcaFeatures: {
            impliedStrict: true
        }
    },
    rules: {
        brace-style: ["warn", "1tbs", { "allowSingleLine": true }],
        camelcase: ["warn", { "properties": "always" }],
        comma-dangle: ["warn", "never"],
        comma-spacing: ["warn", { "before": false, "after": true }],
        comma-style: ["warn", "last"],
        no-console: ["warn", { allow: ["warn", "error", "info"] }],
        no-unused-vars: ["warn", { "vars": "local" }],
        eqeqeq: ["warn", "smart"]
    }
}
