# Compiled output
build

# Dependencies
node_modules

# Package locks
package-lock.json
yarn.lock

# Logs
logs
*.log*
coverage

# macOS Finder leftovers
.DS_Store

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
