footer.container.my-5.text-muted.text-center: .row
  .col-sm-4
      | &copy; FindMyAppetite 2017
      br
      | All rights reserved.
  .col-sm-4
      a(href='/about') About Us
      br
      a(href='/about') Contact
  .col-sm-4
      a(href='/terms') Terms of Use
      br
      a(href='/privacy') Privacy Policy
