.navbar
  .navbar-inner
    .container-fluid
      a.brand(href='#') findmyApptite
      .nav-collapse.collapse.navbar-responsive-collapse
        ul.nav
          li
            a(href='#') Home
          li
            a(href='#') Search
        ul.nav.pull-right
          li
            a(href='#') Login
