nav.navbar.navbar-expand-md.navbar-light
    .container
        a.navbar-brand(href='/') FindMyAppetite
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                each link in navLinks
                    li.nav-item
                        a.nav-link(href=link.href, class=(section == link.key ? 'active' : null))=link.label
                if user
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')=user.firstName
                        .dropdown-menu
                            a.dropdown-item(href='/settings', class=(section == 'settings' ? 'active' : null))
                                i.fa.fa-cog(aria-hidden='true')
                                | Settings
                            a.dropdown-item(href='/sign-out')
                                i.fa.fa-sign-out(aria-hidden='true')
                                | Sign Out
                else
                    li.nav-item: a.nav-link.auth-trigger(href='/sign-in', data-from=query, data-initial='sign-in')
                        | Sign In
                    li.nav-item: a.nav-link.auth-trigger(href='/join', data-from=query)
                        | Join
