script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/popper.js/popper.min.js')
script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
script(src='/vendor/algoliasearch/algoliasearch.jquery.min.js')
script(src='/js/site.js')
