@import '../build/vendor/bootstrap/scss/bootstrap';

// Variables
$primary-color: rgba(253, 110, 106, 1);
$secondary-color: rgba(255, 198, 0, 1);

// Links
a {
    &:hover {
        text-decoration: none;
    }
}

// Logo
.navbar-brand {
    font-weight: bolder;
    font-size: 1.5rem;
    background: linear-gradient(to right, $primary-color 0%, $secondary-color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Header


// Home page header jumbotron
.main-feature {
    background-image: url(/images/background.jpg), linear-gradient(to right, rgba($primary-color, 0.5) 0%, rgba($secondary-color, 0.5) 100%);
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;

    h1 {
        color: $white;
    }
}

// Recipe
.recipe-img {
    max-width: 200px;
    border-radius: 0.25rem;
}

.recipe-header {
    &:before {
        content: "";
        position: relative;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        filter: blur(10px);
    }
}

// Algolia search
.ais-search-box--magnifier,
.ais-search-box--reset {
    display: none !important;
}

#homeSearchHits {
    .recipe-img {
        max-width: 150px;
    }
}


// Log in
a.btn.facebook {
    color: #fff !important;
    background: #3b5998 !important;

    i,svg {
        margin-right: 0.25rem;
    }
}

// Loading page
