doctype html
html
	head
		//- Page title
		title= title ? 'FindMyAppetite » ' + title : 'FindMyAppetite'

		//- Meta tags
		include includes/meta

		//- Main stylesheet
		link(rel='stylesheet', href='/css/style.css')

		//- Page-specific stylesheets
		block css

		//- Icons
		include includes/icons
		//- Google Analytics Tracking
		include includes/analytics
		//- Conditionals for the browser with special needs
		include includes/ie

		//- Any additional page-specific <head> content goes here
		block head
	body
		//- Navigation bar
		include includes/navigation

		//- Page header
		block header
		//- Page content
		block content

		//- Page footer
		include includes/footer

		//- Global scripts
		script(src='client.js')
		//- Page-specific scripts
		block js
