extends ../../layout

block header
	.jumbotron.jumbotron-light.no-margin-bottom: .container
		row: .col.col-md-8.mx-auto
			.header.text-center
				h2 Reset your password
				p.lead Please enter your new password twice

block content
	.container.mb-5: .row: .col-10.col-md-8.col-lg-6.col-xl-5.mx-auto.mb-5
		form(method='post', novalidate).auth-form
			input(type='hidden', name='action', value='reset-password')
			.form-groups
				.form-group
					label(for='password').sr-only New Password
					input(type='password', name='password', id='password', placeholder='New Password').form-control.form-control--first
				.form-group
					label(for='password_confirm').sr-only Confirm Password
					input(type='password', name='password_confirm', id='password_confirm', placeholder='Confirm Password').form-control.form-control--last
			.row: .col-6.mx-auto
				button(type='submit').btn.btn-lg.btn-block.btn-primary Reset Password
		p.text-center.text-muted.mt-3
			| On second thought, 
			a(href='/sign-in') sign in

block js
	script.
		var $form = $('.auth-form');
		var $submit = $form.find('.btn');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
