extends ../../layout

block header
	.jumbotron.jumbotron-light.no-margin-bottom: .container
		row: .col.col-md-8.mx-auto
			.header.text-center
				h2 Sign In
				
block content
	.container.mb-5: .row: .col-10.col-md-8.col-lg-6.col-xl-5.mx-auto.mb-5
		+auth-forms({ modal: false, initial: 'sign-in' })

block js
	script.
		$(function() {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
