nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
    a.navbar-brand(href='#') FindMyAppetite
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#')
                    | Discover 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') Design
            li.nav-item
                a.nav-link(href='#') Favorites
            li.nav-item
                a.nav-link(href='#') Pantry
