extends ../layout

block header
    .jumbotron.jumbotron-fluid.main-feature.text-center: .container.my-4
        .row: h1.mx-auto.mb-3 Let's make something good.
        .row: .col-md-8.mx-auto
            input#homeSearch.form-control.input-lg(type='search', placeholder='Search for a recipe', aria-label='Search', aria-describedby='homeSearchIcon')
    
block content
    #homeSearchHits.container

block js
    script(src='/js/home.js')
