extends ../layout

block css
    

block header
    .jumbotron.jumbotron-fluid: .container
        h1 pantry

block content
    .container
      .row
        .col-sm
            p ingredient:
        .col-sm
             p quantity:
      
    
    
