extends ../layout

block header
  .jumbotron.jumbotron-light.no-margin-bottom: .container
    row: .col.mx-auto
      .header.text-center
        h2 Preferences
  
block content
  form(method = 'POST' name = 'preferences')
    .div.row  
      .col-md-3
      .col-md-3
        label.control-label.requiredField(for='dietaryRestrictions')
          | Dietary Restrictions
          span.asteriskField *
      .col-md-3
        select#dietaryRestrictions.select.form-control.input-lg(form='selectDiet', name='dietaryRestrictions')
          option(value='0') -- Select --
          option(value='1') Vegan
          option(value='2') Gluten-Free
          option(value='3') Vegitarian
          option(value='4') Pescetarian
          option(value='5') Keto
          option(value='6') Kosher
      .col-md-3
    .div
      .container(style = 'height: 70px; margin-top: 40px')
        .header.text-center
          h6 Custom Food Allergies
          |
          |
      
      .div
        .row
          .col-md-2
          .col-md-3.row.no-gutters
            .col-md-4.label.control-label.requiredField(for='foodAllergin1') Allergin 1:
            .col-md-8.input
              input#foodAllergin1.form-control(type='text', placeholder = 'Enter ingredient name', name='foodAllergin1')
          .col-md-3.row.no-gutters.input
            .col-md-4.label.control-label.requiredField(for='foodAllergin2') Allergin 2:
            .col-md-8.input
              input#foodAllergin2.form-control(type='text', placeholder = 'Enter ingredient name', name='foodAllergin2')
          .col-md-3.row.no-gutters
            .col-md-4.label.control-label.requiredField(for='foodAllergin3') Allergin 3:
            .col-md-8.input
              input#foodAllergin3.form-control(type='text', placeholder = 'Enter ingredient name', name='foodAllergin3')
          .col-md-1
    .div
      .container(style = 'height: 70px; margin-top: 40px')
        .header.text-center
          h6 Custom Food Substitutions
          |
          |
      
      .div(id = "substitutions")
        .row
          .col-md-3
          .col-md-3.row.no-gutters
            .col-md-4.label.control-label.requiredField(for='badIngredient1') Disliked:
            .col-md-7.input
              input#badIngredient1.form-control(type='text', placeholder = 'Ingredient name', name='badIngredient1')
          .col-md-3.row.no-gutters
            .col-md-5.label.control-label.requiredField(for='replacement1') Replacement:
            .col-md-7.input
              input#replacement1.form-control(type='text', placeholder = 'Ingredient name', name='replacement1')
          .col-md-3
      .div  
        .row 
          .col-md-6
          .col-md-1
            button(type="button", onclick="addSub()")
              img(src = "/images/plus.png")
            script.
              function addSub(){
                  var parentRow = document.createElement('div');
                      parentRow.className = 'row';
                  var blankDiv1 = document.createElement('div');
                      blankDiv1.className = 'col-md-3';
                  var blankDiv2 = document.createElement('div');
                      blankDiv2.className = 'col-md-3';
                      
                    
                  var BIparentCol = document.createElement('div');
                      BIparentCol.className = 'col-md-3 row no-gutters';
                  var SIparentCol = document.createElement('div');
                      SIparentCol.className = 'col-md-3 row no-gutters';
                  
                  var BIlabelCol = document.createElement('div');
                      BIlabelCol.className = 'col-md-4 label control-label';
                      BIlabelCol.setAttribute('for', 'badIngredient');
                      BIlabelCol.innerHTML = 'Disliked:';
                  var BIinputCol = document.createElement('div');
                      BIinputCol.className = 'col-md-7 input';
                  var BIinput = document.createElement('input');
                      BIinput.className = 'form-control';
                      BIinput.type = 'text';
                      BIinput.placeholder = 'Ingredient name';
                      
                  var SIlabelCol = document.createElement('div');
                      SIlabelCol.className = 'col-md-5 label control-label';
                      SIlabelCol.setAttribute('for', 'badIngredient');
                      SIlabelCol.innerHTML = 'Replacement:';
                  var SIinputCol = document.createElement('div');
                      SIinputCol.className = 'col-md-7 input';
                  var SIinput = document.createElement('input');
                      SIinput.className = 'form-control';
                      SIinput.type = 'text';
                      SIinput.placeholder = 'Ingredient name';
                  
                  BIinputCol.appendChild(BIinput);
                  SIinputCol.appendChild(SIinput);

                  BIparentCol.appendChild(BIlabelCol);
                  BIparentCol.appendChild(BIinputCol);
                  
                  SIparentCol.appendChild(SIlabelCol);
                  SIparentCol.appendChild(SIinputCol);
                  
                  parentRow.appendChild(blankDiv1);
                  parentRow.appendChild(BIparentCol);
                  parentRow.appendChild(SIparentCol);
                  parentRow.appendChild(blankDiv2);
                  
                  document.getElementById("substitutions").appendChild(parentRow);
              }
          .col-md-5
        .row 
            .col-md-3
            .col-md-3
              input(type = 'submit', value = 'Save')
            .col-md-6
