//-
	Forms
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "sign-in" | "join"
	* from - specify a page
	
include form-join
include form-sign-in

mixin auth-forms(args)
	if args.modal
		+form-sign-in(args)
		+form-join(args)
	else
		if args.initial == 'join'
			+form-join(args)
		else
			+form-sign-in(args)
	
